[Unit]
Description=Reset Elan I2C Trackpad Firmware

[Service]
Type=oneshot
ExecStartPre=/usr/sbin/modprobe -r elan_i2c
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/sbin/modprobe elan_i2c
